* {
  font-family: "Courier New", Courier, monospace;
}
body {
  user-select: none;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #eeeeee;
  font-family: monospace;
}
#loading {
  display: none;
}
#background {
  position: absolute;
  background: #ffffff;
}
#moreInfo {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  bottom: 100%;
  background: #ffffff88;
  transition: 1s;
  font-family: monospace;
  font-size: 30px;
  opacity: 0;
  overflow-y: scroll;
}
#moreInfo > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
